@model RecebaFacil.Portal.Models.InicioViewModel

<div class="row mb-5">
    <div class="col-8">
        <h2 class="d-inline">
            @Model.NomeEmpresa
        </h2>
        &nbsp;
        <a title="Meu Perfil" aria-label="acessar meu perfil" class="btn-link text-muted"
           asp-route="MeuPerfil">
            <i class="fa fa-user-alt"></i>
        </a>
    </div>
    <div class="col-4 text-lg-right">
        <p class="d-inline-block">
            Usuário: @Model.NomeUsuario<br />Acesso: @Model.Hoje
        </p>
    </div>
</div>

<div id="index-minhas-encomendas"></div>

@section Scripts{
    <script>
        $(function () {
            $.get("@ViewBag.EncomendasUrl", function (response) {
                $("#index-minhas-encomendas").empty().html(response);
            });
        });
    </script>
}