
<div id="index-minhas-encomendas"></div>

@section Scripts{
    <script>
        $(function () {
            $.get("@ViewBag.EncomendasUrl", function (response) {
                $("#index-minhas-encomendas").empty().html(response);
            });
        });
    </script>
}