@model RecebaFacil.Portal.Models.InicioViewModel

<partial name="_Header" model="@Model.Header" />

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Encomendas</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title">Verifique suas encomendas</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li><i class="fas fa-check"></i>a caminho</li>
                <li><i class="fas fa-check"></i>aguardando retirada</li>
                <li><i class="fas fa-check"></i>entregues</li>
            </ul>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Encomendas</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title">Verifique</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>a caminho</li>
                <li>aguardando retirada</li>
                <li>entregues</li>
            </ul>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Encomendas</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title">Verifique</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>a caminho</li>
                <li>aguardando retirada</li>
                <li>entregues</li>
            </ul>
        </div>
    </div>
</div>
