@model RecebaFacil.Portal.Models.HeaderViewModel

<div class="row">
    <div class="mb-5">
        <h1 class="d-inline mr-5">@Model.TipoEmpresa</h1>
        <h2 class="d-inline">
            @Model.Empresa
        </h2>
        &nbsp;
        @{
            if (!string.IsNullOrWhiteSpace(Model.RotaMeuPerfil))
            {
                <a asp-route="@Model.RotaMeuPerfil" title="Meu Perfil" aria-label="acessar meu perfil" class="btn-link text-muted"><i class="fa fa-user-alt"></i></a>
            }
        }
    </div>
</div>