@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Algo deu errado.</h1>
<h2 class="text-danger"><br />Por favor, entre em contato conosco: suporte@@recebafacil.com.br</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
