@model RecebaFacil.Portal.Models.Auth.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Portal Receba Fácil">
    <meta name="author" content="Receba Fácil">
    <title>Portal Receba Fácil</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="bg-light">
    <div id="container-registry" class="container">
        <div class="py-5">
            <h1 class="font-PTSans">Receba Fácil</h1>
            <h2 class="mt-3 font-PTSans font-weight-bold">Fale conosco</h2>
            <div class="row mt-5">
                <div class="col-md-8 font-roboto">
                    <h4 class="mb-3">Faça seu pré-cadastro e entraremos em contato</h4>
                    <form asp-route="Auth_Registrar" asp-antiforgery="true"
                          data-ajax="true"
                          data-ajax-method="post"
                          data-ajax-mode="after"
                          data-ajax-update="#container-registry"
                          data-ajax-success="success"
                          data-ajax-failure="error"
                          data-ajax-antiforgery="true">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-row mb-2 mt-2">
                            <div class="form-check">
                                <input type="radio" value="PR" class="form-check-input" asp-for="Objetivo" id="rdPR" name="objetivo" />
                                <label class="form-check-label" for="rdPR">Quero ser um <strong>Ponto de Retirada</strong></label>
                            </div>
                        </div>
                        <div class="form-row mb-2">
                            <div class="form-check">
                                <input type="radio" value="PV" class="form-check-input" asp-for="Objetivo" id="rdPV" name="objetivo" />
                                <label class="form-check-label" id="rdPV">Quero ser um <strong>Ponto de Venda</strong></label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label asp-for="Nome">Nome</label>
                                <input type="text" class="form-control" asp-for="Nome" required />
                                <span class="text-danger" asp-validation-for="Nome"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label asp-for="Email">E-mail</label>
                                <input type="email" class="form-control" asp-for="Email" required />
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label asp-for="Telefone">Telefone <span class="text-muted small">somente números</span></label>
                                <input type="text" class="form-control" asp-for="Telefone" required />
                                <span class="text-danger" asp-validation-for="Telefone"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label asp-for="NomeEmpresa">Nome da empresa</label>
                                <input type="text" class="form-control" asp-for="NomeEmpresa" required />
                                <span class="text-danger" asp-validation-for="NomeEmpresa"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label asp-for="Cidade">Cidade</label>
                                <input type="text" class="form-control" asp-for="Cidade" required />
                                <span class="text-danger" asp-validation-for="Cidade"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label asp-for="Endereco">Endereço</label>
                                <input type="text" class="form-control" asp-for="Endereco" required />
                                <span class="text-danger" asp-validation-for="Endereco"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label asp-for="Cnpj">CNPJ <span class="text-muted small">somente números</span></label>
                                <input type="text" class="form-control" asp-for="Cnpj" required />
                                <span class="text-danger" asp-validation-for="Cnpj"></span>
                            </div>
                        </div>
                        <div class="text-right col-md-8 p-0">
                            <a asp-route="Auth_Entrar" class="btn btn-link">Voltar</a>&nbsp;
                            <button id="btnSave" class="btn btn-primary" type="submit">Salvar</button>
                            <div id="onerror" class="d-none alert-danger"><p class="text-danger">Algo deu errado. Tente novamente mais tarde.</p></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function success() { $("form").find("input").val("").attr("checked", false); $('#modalPreRegistro').modal('show'); }
        function error() { $("#onerror").removeClass("d-none"); }
    </script>
</body>
</html>